POST_COMPILE =>
[
    'post-compile/ssh-authkeys',
    'post-compile/update-git-configs',
    'post-compile/update-gitweb-access-list',
    'post-compile/update-git-daemon-access-list',
    'post-compile/update-description-file',
],

# ------------------------------------------------------------------------------
# per perl rules, this should be the last line in such a file:
1;

# Local variables:
# mode: perl
# End:
# vim: set syn=perl:
