<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Damian Myrda</title>
    <link rel="icon" type="image/png" href="/img/moncheeta.png" />
    <meta
      name="description"
      content="Terminal enthusiast, learning from Curious George (the curious part, not the monkey business). Systems and backend programming are my focus. Striving to turn spaghetti code into well-structured algorithms and make every line count with efficiency and creativity."
    />

    {% block title %}{% endblock %}

    <style>
      body {
        visibility: hidden;
        min-height: 100vh;
      }

      #content {
        max-width: 800px;
        margin: 0 auto 0 auto;
        padding: 1rem 0 1rem 0;
      }

      pre {
        color: #e8e6e3 !important;
        background-color: #000084 !important;
      }

      h3 {
        text-align: center !important;
      }
    </style>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
      _386 = { onePass: true };
    </script>
    <script src="/js/bootstrap.js"></script>
  </head>

  <body>
    {% block navbar %}{% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
