{% macro list() %}
<pre>
                 _           _
                (_)         | |
 _ __  _ __ ___  _  ___  ___| |_ ___
| '_ \| '__/ _ \| |/ _ \/ __| __/ __|
| |_) | | | (_) | |  __/ (__| |_\__ \
| .__/|_|  \___/| |\___|\___|\__|___/
| |            _/ |
|_|           |__/

</pre>
<div class="row-fluid">
  <div class="span4 w-100">
    <h3 class="text-center">MOS</h3>
    <p>
      In my free time, I work on MOS, my minimal operating system. This project
      has deepened my understanding of OS internals, and I'm planning to rewrite
      it for the RISC-V architecture. Users interact with the terminal through
      command line and terminal user interfaces designed for ease of use and
      efficiency.
    </p>
    <a href="https://git.prime8.dev/?p=mos.git" class="btn">src</a>
  </div>
  <div class="span4 w-100">
    <h3 class="text-center">Janitor</h3>
    <p>
      During my summer internship at Amplifier Health, I developed a service
      that sorts audio files into three categories: speech, music, and noise. I
      wrote it in Rust with tch-rs and Axum aiming for better performance. The
      service is designed to be fast, using efficient multithreading on the CPU
      and taking advantage of the GPU for highly parallel processing.
    </p>
    <a href="https://git.prime8.dev/?p=janitor.git" class="btn">src</a>
  </div>
  <div class="span4 w-100">
    <h3 class="text-center">Summarizer</h3>
    <p>
      An experiment using a microservice architecture that transcribes and
      summarizes audio into text using OpenAI's API. Each service has its own
      function that it performs, and the services communicate with each other
      through Kafka, where jobs are requested and results are received. The
      entire system can be easily deployed with a Docker Compose file.
    </p>
    <a href="https://github.com/moncheeta/summarizer" class="btn">src</a>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 w-100">
    <h3 class="text-center">Tutor Connect</h3>
    <p>
      For HSHacks 2024, my friends and I developed a website to help students
      find tutors. Recognizing that not every school has a dedicated portal for
      peer tutoring, we created a district-wide, easily accessible platform. We
      used ReactJS for the user interface and Firebase for storage and
      authentication. In the end, we won 3rd place!
    </p>
    <a href="https://d214tutorconnect.prime8.dev" class="btn">src</a>
  </div>
  <div class="span4 w-100">
    <h3 class="text-center">CSC Website</h3>
    <p>
      I built a website for the Computer Science Club (CSC) at Prospect High
      School during a mini-hackathon. The site displays important information it
      fetches from the Schoology API. Members can share their projects using
      their Google account and uploading their work to a SQLite database.
    </p>
    <a href="https://git.prime8.dev/?p=csc.git" class="btn">src</a>
    <a href="https://csc.prime8.dev" class="btn">live</a>
  </div>
  <div class="span4 w-100">
    <h3>Veterans Website</h3>
    <p>
      For HSHacks 2023, my very first hackathon, I created a website for an
      organization that helps veterans manage donations. Donors can use their
      Venmo account to donate to the organization. They receive a notification
      on their phone for confirmation, and each donor gets a thank-you email as
      a gesture of appreciation.
    </p>
    <a href="https://github.com/moncheeta/veteran_donations" class="btn">src</a>
  </div>
</div>
{% endmacro %}
